section#footer {
    z-index: 2;
    position: relative;
    background-color: #1e1133;
    width: 100%;
    height: max-content;
    .container {
        padding: 0px 30px 100px 30px;
        display: flex;
        flex-direction: column;

        .brand {
            width: 100%;
            height: max-content;
            color: white;
            font-size: 50px;
        }

        .top-footer {
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .link-container {
                display: flex;
                flex-direction: column;
                margin-right: 120px;

                a {
                    color: white;
                    text-decoration: none;
                    margin-bottom: 7px;

                    &:first-child {
                        font-weight: 700;
                        font-size: 18px;
                    }

                    &:hover {
                        color: blue;
                    }
                }
            }
        }

        .bottom-footer {
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sosmed-container {
                width: max-content;
                height: 35px;
                padding-top: 7px;
                display: flex;
                align-self: flex-end;
                margin: 50px 0;
                border-top: 1px solid white;

                a {
                    text-decoration: none;
                    height: 100%;
                    margin: 0 10px;

                    img {
                        height: 100%;
                    }
                    
                }

            }

            .developer {
                width: max-content;
                color: #5b27ad;
                margin-top: 30px;
                font-weight: 700;

            }
        }

    }
}