section#learning {
  width: 100%;
  height: max-content;
  padding: 100px 0;
  position: relative;

  .shadow {
    z-index: 1;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 200px 200px #281944;
    &:first-child {
      top: -150px;
      left: 500px;
    }
    &:nth-child(2) {
      right: 0;
      top: 500px;
    }
    &:nth-child(3) {
      bottom: 400px;
      left: 0;

    }
  }


  .container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;

    .intro {
      width: 100%;
      height: max-content;
      padding-bottom: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .card {
        width: 950px;
        height: 300px;
        // background-color:#7827e6;
        // background-color:#a027e6;
        background-image: linear-gradient(to top right, #7827e6, #9a27e6);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 50px;
        border-radius: 30px;
        z-index: 2;

        .desc {
          width: 48%;
          height: 100%;
          color: white;

          p:first-child {
            font-size: 40px;
            font-weight: 700;
            margin: 0;
          }

          p:nth-child(2) {
            line-height: 20px;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 19px;
            margin-bottom: 25px;
            letter-spacing: 1.3px;
          }
          a {
            background-color: #281944;
            padding: 15px 20px;
            border-radius: 15px;
            font-size: 20px;
            text-decoration: none;
            color: white;
          }
        }
        .card-img {
          width: 48%;
          height: max-content;
          overflow: hidden;
          border-radius: 30px;

          img {
            width: 100%;
          }
        }
      }

    }

    .title {
      width: 100%;
      height: max-content;
      text-align: center;
      color: #7827e6;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      padding: 50px 0;

      p:first-child {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
      }

      p:last-child {
        text-transform: capitalize;
        color: white;
      }
    }

    .card-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;


      .card {
        width: 330px;
        z-index: 2;
        height: max-content;
        padding: 25px 15px;
        background-color: #1e1133 ;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        text-decoration: none;
        font-family: "Tilt Neon", cursive;
        margin-bottom: 40px;
        position: relative;
  
        .top-card {
          width: 100%;
          height: max-content;
          display: flex;
          flex-direction: row;
          align-items: center;
  
          img {
            height: 45px;
            margin-right: 10px;
          }
  
          p {
            margin-left: 15px;
            color: white;
            font-size: 20px;
          }
  
          .coming-soon {
            color: yellow;
            font-size: 14px;
            font-style: italic;
          }

          .in-progress {
            color: rgb(0, 255, 42);
            font-size: 14px;
            font-style: italic;
          }
        }
  
        .bottom-card {
          margin-top: 10px;
          font-size: 20px;
          color: white;
        }
      }
    }
  }
}
