$warnaPertama:#4a2a7e;
$warnaKedua:#9a7cc5;
$warnaKetiga:#9ac1ea;
$warnaText:black;


nav {
  width: 360px;
  height: max-content;
  position: fixed;
  right: -185px;
  color: white;
  // right: 30px;
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  z-index: 100; 

  .top-nav {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    .menu-icon {
      margin-bottom: 30px;
      width: max-content;
      height: max-content;
      cursor: default;
  
      span {
        font-size: 35px;
      }
    }
  }


  .nav-bar {
    width: 100%;
    height: max-content;


    .nav-link {
      width: 50%;
      margin-bottom: 5px;
      border-radius: 5px 0 0 5px;
      overflow: hidden;

      &.home {
        font-weight: 700;
        font-size: 18px;
      }

      &.first {
        transition: .3s cubic-bezier(0.2, 0.99, 0.58, 0.98);
        margin-left: 175px;
        margin-left: 175px;
      }
      &.second {
        transition: .3s cubic-bezier(0.2, 0.99, 0.58, 0.98) .1s;
        margin-left: 175px;
      }
      &.third {
        transition: .3s cubic-bezier(0.2, 0.99, 0.58, 0.98) .2s;
        margin-left: 175px;
      }
      &.fourth {
        transition: .3s cubic-bezier(0.2, 0.99, 0.58, 0.98) .3s;
        margin-left: 175px;
      }
      &.fifth {
        transition: .3s cubic-bezier(0.2, 0.99, 0.58, 0.98) .4s;
        margin-left: 175px;
      }

      &:hover {
        a {
          background-color:white;
          color: #7827e6;
        }
      }

      a {
        display:inline-block;
        width: 100%;
        padding: 15px 25px;
        text-decoration: none;
        background-color:#7827e6;
        color: white;
      }
    }
  }
}
