nav {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 30px;
  top: 17px;
  z-index: 10;
}
nav a {
  display: inline-block;
}
nav a svg {
  width: 37px;
  height: 37px;
  fill: #7827e6;
}
nav a:hover svg {
  fill: #884bdd;
}

section#content {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  position: relative;
}
section#content .main-content {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-left: 200px;
  padding: 100px 0;
}
section#content .main-content .container {
  width: 900px;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}
section#content .main-content .container .footer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#content .main-content .container .footer img {
  width: 50px;
  margin-bottom: 20px;
  padding: 20px;
}
section#content .main-content .container .footer h2 {
  color: #271842;
  font-size: 20px;
}
section#content .main-content .container .title {
  text-align: center;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
}
section#content .main-content .container h1,
section#content .main-content .container h2,
section#content .main-content .container h3 {
  text-transform: capitalize;
  margin: 5px 0 0;
}
section#content .main-content .container h1 {
  font-size: 30px;
  color: #7827e6;
}
section#content .main-content .container h2 {
  font-size: 24px;
  color: #884bdd;
}
section#content .main-content .container h3 {
  font-size: 18px;
  color: #9e76d6;
}
section#content .main-content .container p {
  color: rgb(143, 143, 143);
  letter-spacing: 1px;
  line-height: 19px;
  text-align: justify;
}
section#content .main-content .container .red-text {
  color: red;
}
section#content .main-content .container .yellow-text {
  color: yellow;
}
section#content .main-content .container a {
  color: rgb(50, 50, 235);
}
section#content .main-content .container b {
  background-color: rgba(0, 128, 0, 0.753);
  padding: 0 3px;
}
section#content .main-content .container ol,
section#content .main-content .container ul {
  margin: 0;
}
section#content .main-content .container li {
  color: white;
}
section#content .main-content .container li p {
  margin: 3px 0 13px;
}
section#content .main-content .container .img-intro {
  width: 200px;
  height: -moz-max-content;
  height: max-content;
}
section#content .menu-slidedown {
  width: 200px;
  height: 100%;
  position: fixed;
  background-color: #07021b;
}
section#content .menu-slidedown .container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
}
section#content .menu-slidedown .container .module {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 20px 0;
}
section#content .menu-slidedown .container .module ol {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}
section#content .menu-slidedown .container .module ol li {
  font-weight: 700;
}
section#content .menu-slidedown .container .module ol li:hover {
  background-color: grey;
}
section#content .menu-slidedown .container .module ol li:hover a {
  border-left: 1px dotted white;
}
section#content .menu-slidedown .container .module ol li a {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 10px;
  text-decoration: none;
  border-left: 1px dotted grey;
  margin-bottom: 1px;
  color: white;
  font-size: 14px;
}
section#content .menu-slidedown .container .module ol ul {
  display: none;
  list-style: none;
  padding-left: 15px;
}
section#content .menu-slidedown .container .module ol ul li a {
  position: relative;
  display: block;
  padding: 3px 10px;
  font-weight: normal;
}
section#content .menu-slidedown .container .module ol ul li a::before {
  content: "";
  border: 1px dotted grey;
  position: absolute;
  left: 0;
}

footer {
  z-index: 2;
  background-color: #000000;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  z-index: 10;
}
footer .container {
  padding: 0px 30px 100px 30px;
  display: flex;
  flex-direction: column;
}
footer .container .bottom-footer {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .container .bottom-footer .sosmed-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
  margin: 50px 0;
}
footer .container .bottom-footer .sosmed-container a {
  text-decoration: none;
  height: 100%;
  margin: 0 10px;
}
footer .container .bottom-footer .sosmed-container a img {
  height: 100%;
}
footer .container .bottom-footer .developer {
  width: -moz-max-content;
  width: max-content;
  color: #7827e6;
  margin-top: 30px;
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  background-color: #190f2b;
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=main.css.map */