@use './module/nav-module';
@use './module/menu-slidedown';
@use './../../../assets/css/modules/footer';

body {
    padding: 0;
    margin: 0;
    background-color: #190f2b;
    font-family: 'Montserrat', sans-serif;
}
